
/* App classNames */
main{
    background-color: white;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

footer{
background-color: lightgray;
font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.navigation-style{

}

.title-style{

}


/* Landing Page classNames */
.landing-page-quote{

}

.process-style{
    
}

/* Adoption Page classNames */